@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply p-0 m-0
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    @apply bg-zinc-800
}

::-webkit-scrollbar-track {
    margin-block: 0.1em;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: #171717;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF631B;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    transform: rotate(-5deg);
    width: 200%;
    transform-origin: center;
}

.scroll-text {
    display: inline-block;
    animation: scroll 30s linear infinite;
}


/* image scrolling animation */
.animate-scroll {
    display: flex;
    white-space: nowrap;
}

/* The main container */
.image-container {
    overflow: hidden;
    width: 100vw;
}

/* The row of images */
.image-row {
    display: flex;
    width: calc(100vw * 2);
}

/* Style the images */
.image-row img {
    width: 33vw;
    object-fit: cover;
}

/* Allow the last image to overflow the container */
.image-row img:last-child {
    margin-right: -33vw;
}


.video-container:hover .overlay {
    opacity: 0;
    display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .video-container {
        width: 80vw;
        height: auto;
    }
}




html,
body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


/* Custom scrollbar hiding */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

















